{% extends 'base.html.twig' %}

{% block title %}Edit MatiereClasse{% endblock %}

{% block body %}
    <h1>Edit MatiereClasse</h1>

    {{ include('matiere_classe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('matiere_classe_index') }}">back to list</a>

    {{ include('matiere_classe/_delete_form.html.twig') }}
{% endblock %}
